@charset "utf-8";

.login__wrap {
    display: flex;
}

form{
    width: 100%;
    height: 70vh;
}

.user{
    padding: 10px;
    margin: 4rem 3rem;
    background-color: #ececec;
    border-radius: 20px;
    height: 100%;
}

input {
    display: block;
}

.rdo {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
}

.submit {
    background-color: #484848;
    color: #fff;
    border-radius: 10px;
    border-color: #484848;
    padding: .5rem 1rem;
}

@media (min-width: 600px) {
    .txt {
        height: 2rem;
        width: 70%;
        margin: 5% 15%;
    }
    .login, .rdo {
        margin: 2rem 3rem;
    }
}