@charset "utf8";

.wrapper {
    max-width: 1140px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #222;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, * {
    font-family: "游ゴシック", sans-serif;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    background-color: #2fa0f6;
    min-width: 120px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
}

@media (min-width: 600px){
    .brand {
        font-weight: bold;
        font-size: 2rem;
    }
}
@media (max-width: 599px){
    .brand {
        font-weight: bold;
        font-size: 20px;
    }
}

.site-header {
    position: relative;
    background-color: #def7ff;
}

.site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media (min-width: 600px) {
    .site-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media (min-width: 600px) {
    .nav__wrapper {
    display: flex;
    }
}

.status__wrap {
    display: flex;
}

@media (max-width: 599px) {
    .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }
    .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 600px) {
    .nav__item {
        border: 2px solid #2fa0f6;
        margin: 1rem 5px;
        border-radius: 25px;
        background-color: #f2fcff;
        font-weight: 600;
    }
    .nav__item span {
        font-size: .5rem;
        font-weight: 400;
        padding-right: 5px;
    }
}
@media (max-width: 599px) {
    .nav__item {
        border-bottom: 2px solid #98b2c6;
        margin: 0 5px;
    }
    .status {
        font-size: 10px;
    }
}

.circle_enterprise {
    border: 1px solid #7c761d;
    background-color: #fff239;
}

.circle_user{
    border: 1px solid #1e8831;
    background-color: #39ff5d;
}

.status{
    display: flex;
    align-items: flex-end;
}

@media (min-width: 600px){
    .circle_enterprise, .circle_user{
        width: .5rem;
        height: .5rem;
        border-radius: 100%;
        margin: 0 5px 2% 10px;
    }
}
@media (max-width: 599px){
    .circle_enterprise, .circle_user{
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 100%;
        margin: 0 3px 3% 5px;
    }
}

.nav__item a {
    display: block;
    padding: 1rem 1rem;
}

.nav__toggle {
    display: none;
}
@media (max-width: 599px) {
    .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        border: none;
        border-bottom: 1px solid #4b4b4b;
        padding: auto 5px;
        background: transparent;
        color: #4b4b4b;
    }
}